nav {
	background-color: white;
	width: 100vw;
	height: 20rem;
}

.nav-contents {
	width: 100%;
	max-width: 120rem;
	margin: 2rem auto;
	display: flex;
	justify-content: space-between;
}

.nav-contents p {
	width: max-content;
	margin: 0;
	font-weight: bold;
	font-size: 1.4rem;
	text-align: center;
}

.top-logo {
	width: 20rem;
	height: auto;
}

.sub-nav {
	width: 100vw;
	height: 5rem;
	background-color: #86b817;
}

.btn-container {
	display: flex;
	justify-items: center;
	align-items: center;
}

.btn {
	border-radius: 5rem;
	margin: 1rem;
	cursor: pointer;
}

.btn:hover {
	background-color: #86b817;
}
